<div class="card">
  <div class="movie-iframe">
    <iframe width="350" height="200"
      src="https://www.youtube.com/embed/<%= video.youtube_id %>">
    </iframe>
  </div>
  <div class="movie-content">
    <h2 class="title">Movie Title</h2>
    <h5 class="share-by">Share by: @<%= video.user.username %></h5>
    <div class="like-bok">
      <span class="mgr10">89 <i class="bg-icon like-icon"></i></span>
      <span>89 <i class="bg-icon dislike-icon"></i></span>
    </div>
    <div>Description: </div>
    <p class="desc">It only takes a sentence to change your life. The best writers and thinkers are able to sum up a big thought or concept in just a few simple words. Delight in the following quotes that can get you up and moving and change the way you think with purposeful brevity...</p>
  </div>
</div>
